h1,
p {
    font-family: 'Hind', sans-serif;
}

p {
    text-indent: 50px;
}

h1 {
    font-weight: 200;
}

body {
    margin: 0px;
    background-color: #f7f7f7; /* Set a beautiful background color */
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.heart {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: pulse 1.5s infinite alternate ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.05);
    }
}

.heart > img {
    width: 100px;
    height: auto;
}

.led {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    width: 10px;
    height: 10px;
}

.led:nth-child(1) {
    top: 40%;
    left: 15%;
    animation: glow 1.5s infinite alternate ease-in-out;
}

.led:nth-child(2) {
    top: 15%;
    left: 40%;
    animation: glow 1.5s infinite alternate ease-in-out;
}

.led:nth-child(3) {
    top: 60%;
    right: 40%;
    animation: glow 1.5s infinite alternate ease-in-out;
}

.led:nth-child(4) {
    bottom: 20%;
    right: 20%;
    animation: glow 1.5s infinite alternate ease-in-out;
}

@keyframes glow {
    0% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}

.message {
    padding: 20px;
    background-color: #fff; /* Set a beautiful background color for the message */
    min-width: 400px;
    height: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    opacity: 0.9; /* Reduce opacity to give a floaty look */
}

.hidden {
    display: none;
}
